<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="index, nofollow" />

    {% include 'include.html' %}
    <title>Report issue - Secure Text</title>
    <meta name="description" content="Report your issues on securetext.in">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container-fluid"><a class="navbar-brand secure-text-logo" href="#"><i class="fa fa-lock"></i>&nbsp; Secure Text</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav float-right flex-grow-1 justify-content-end">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'how-it-works' %}">How it works</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="text-center"><center><iframe id="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLScdWyP2UshIS_y62AC7KKa4pe6E5vO7zJMzguxu5vcILHEzhg/viewform?embedded=true" width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center></section>

</body>

</html>