<!DOCTYPE html>
<html>


<head>
    <meta name="robots" content="index, nofollow" />

    {% include 'include.html' %}
    <title>About - Secure Text</title>
    <meta name="description" content="About us, securetext.in">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container-fluid"><a class="navbar-brand secure-text-logo" href="#"><i class="fa fa-lock"></i>&nbsp; Secure Text</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav float-right flex-grow-1 justify-content-end">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'how-it-works' %}">How it works</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                    <li class="nav-item" role="presentation" data-bs-hover-animate="rubberBand"></li>
                </ul>
        </div>
        </div>
    </nav>
    <h1 class="text-center">About</h1>
    <p class="text-left how-it-works">This website is inspired from <a href="https://protectedtext.com">protectedtext.com</a><br>The main motive of this website is to provide a reliable service to our users with guranteed privacy. We went soo far for privacy, that we don't even know who
        our users are! We don't do logins/signups. We don't save any information regarding our users. We don't use cookies (if you see that this site is using cookies, then it's because of the ads you see on this website, you can use brave browser if
        you don't want to see ads and prevent all the trackers, but please be noted that ads are our only source of income and we need some bucks to keep our server running and continue our services), neither your password nor your text leaves your browser,
        which means no MITM (Man In The Middle) attacks!&nbsp;<br><br>Even if we got breached, your texts are not exposed as we only store the encrypted form of your texts and no other information about you. Our advice is to use a strong password to encrypt
        your texts so that no one can decrypt your texts even if they get hands on the encrypted content.<br><br>If you want to support our cause, you can donate to us on <a href="https://paypal.me/techraj156">paypal</a>.</p>
</body>

</html>