<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="noindex, nofollow" />
    {% include 'include.html' %}
    <title>Decrypt site</title>
</head>

<body class="text-center">
    <section class="text-center align-items-center align-content-center">
        <div class="row text-center">
            <div class="col text-center">
                <h2 class="text-center"><strong>Site already taken.</strong></h2>
                <h3 class="text-center">Enter password to decrypt.</h3><input class="border rounded shadow-sm password-field" type="password" id="password-field" placeholder="password..." autofocus=""></div>
        </div>
        <div class="row text-center align-items-center align-content-center">
            <div class="col offset-xl-0 align-items-center align-content-center decrypt-col"><button class="btn btn-primary decrypt-btn" id="decrypt-btn" type="button">decrypt</button></div>
        </div><div role="dialog" id="error" tabindex="-1" class="modal fade " style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <p>The site couldn&#39;t be decrypted, please re-check the password you&#39;re using. It may also be because the encrypted content coudln&#39;t be downloaded from the server.</p>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div></section>
</body>

</html>