<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="index, nofollow" />

    {% load static %}
    {% include 'include.html' %}
    <title>How it works - Secure Text</title>

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container-fluid"><a class="navbar-brand secure-text-logo" href="#"><i class="fa fa-lock"></i>&nbsp; Secure Text</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav float-right flex-grow-1 justify-content-end">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'how-it-works' %}">How it works</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                    <li class="nav-item" role="presentation" data-bs-hover-animate="rubberBand"></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="howitworks">
        <div class="row howitworks-row">
            <div class="col">
                <h1 class="text-center">How it works?</h1>
                <p class="text-left how-it-works">securetext.in is a unique approach to security on the Internet. It is inspired from <a href="https://protectedtext.com">protectedtext.com</a><br>The main motive of this website is to provide a reliable service to our users with guranteed
                    privacy. We went soo far for privacy, that we don't even know who our users are! We don't do logins/signups. We don't save any information regarding our users. We don't use cookies (if you see that this site is using cookies, then
                    it's because of the ads you see on this website, you can use brave browser if you don't want to see ads and prevent all the trackers, but please be noted that ads are our only source of income and we need some bucks to keep our server
                    running and continue our services), your password or your text never leaves your browser, which means no MITM attacks!&nbsp;<br><br>Even if we got breached, your texts are not exposed as we only store the encrypted form of your texts
                    and no other information about you. Our advice is to use a strong password to encrypt your texts so that no one can decrypt your texts even if they get hands on the encrypted content.</p>
            </div>
        </div>
        <div class="row row-implementation">
            <div class="col">
                <h4 class="how-it-works h4">Here's our implementation</h4>
            </div>
        </div>
        <ul>
            <li>When you write your text, and click '<strong>Save</strong>', your text is AES encrypted with the password chosen by you. This creates a cipher (encrypted equivalent of your text), that cannot be converted back to the plain text unless we decrypt
                it with the password that you used.<br><img src="{%static 'assets/img/securetext_gif1_cropped.gif' %}" /></li>
            <li>Once the cipher is generated, it is sent to our server, where we store it in our database. Notice that neither your plain text or your password is being sent to our server. Only the encrypted text is sent.<br><img src="{%static 'assets/img/securetext_gif2_cropped.gif' %}" /></li>
            <li>When you want to view your text, you can just go to your site, and this dowloads your encrypted text from the server. You can then use your password to decrypt the encrypted content that is downloaded from the server. All this is managed by
                our javascript program that keeps all encrypting and decrypting on the browser side.</li>
        </ul>
    </section>
</body>

</html>